form {
    background-color: transparent;
    margin: auto;
    box-shadow: 0 0 40px rgba(192, 64, 128, 0.668);
    width: 700px;
    margin-top: 50px;
    border-radius: 30px;
    padding: 20px;
    font-size: 1.5rem;
}

h2 {
    text-align: center;
    color: rgba(255, 253, 253, 0.9);
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
}

fieldset {
    margin: 10px 0;
    border: 1px solid #ddd6;
    border-radius: 10px;
    padding: 10px 20px;
}

legend {
    padding: 5px 10px;
    background-color: #464444;
    color: #fff;
    border-radius: 5px;
}

input,
select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 10px;
    border-left: 2px solid black;
    background-color: transparent;
    border: 2px solid rgb(91, 92, 48);
    color: rgba(223, 114, 204, 0.668);
    border-radius: 5px;
    font-size: 1.2rem;
}

/* Personalización barras*/
input[type="range"] {
    appearance: none;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #4b0082, #7e57c2);
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(126, 87, 194, 0.6);
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, #ffffff, #9c27b0);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(156, 39, 176, 0.6);
    transition: transform 0.2s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, #ffffff, #9c27b0);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px rgba(156, 39, 176, 0.6);
}

input[type="range"]:focus {
    background: linear-gradient(to right, #5529ad, #ca55df);
}

/* Personalización radios*/
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #c56cee;
    border-radius: 20%;
    width: 16px;
    height: 20px;
    position: relative;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.25s ease;
}

input[type="radio"]:checked {
    background-color: #c56cee;
    box-shadow: 0 0 0 3px rgba(197, 108, 238, 0.3);
}

input[type="radio"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(197, 108, 238, 0.5);
}


textarea {
    resize: vertical;
}

label {
    font-size: 0.9em;
    line-height: 2;
    color: rgb(167, 158, 158);
    display: block;
}

option {
    background-color: rgba(192, 64, 128, 0.668);
    color: #000000;
}

datalist {
    background-color: #aef1;
}

.error {
    color: rgb(201, 68, 68);
    font-size: 0.8rem;
    margin-top: 0.3rem;
    font-size: 1rem;
}

.form-input {
    margin-bottom: 1.4rem;
}

.radio-group {
    display: flex;
    gap: 2rem;
    margin-top: 0.5rem;
    font-size: 1.3rem;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.4rem;
    color: rgb(167, 158, 158);
}

.boton-enviar {
    background-color: rgba(192, 64, 128, 0.668);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}

.boton-enviar:hover {
    background-color: #6a2f79;
}

.logo-form{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin: auto;
}
