.chatbot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    padding: 2rem;
    background-color: #1e1e1e;
    scroll-behavior: smooth;


}
.chatbot-box {
    background-color: #1f1f1f;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(142, 36, 170, 0.4);
    padding: 1.5rem;
    max-width: 700px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.chatbot-avatar {
    width: 80px;
transition: all 0.3s ease;
}

.chatbot-title {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.chatbot-title span {
    color: #ba68c8;
    font-size: 1.8rem;
}

.chatbot-subtitle {
    color: #ccc;
    font-size: 1.2rem;
}

.chat-history {
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1.2rem;
    padding-right: 0.5rem;
}


.chat-message {
    padding: 0.8rem 1rem;
    border-radius: 16px;
    max-width: 75%;
    font-size: 1rem;
    line-height: 1.4;
    color: #f1f1f1;
    word-wrap: break-word;
    animation: fadeInUp 0.4s ease both;
}

.chat-message.user {
    align-self: flex-end;
    background-color: #7e57c2;
    text-align: right;
}

.chat-message.bot {
    align-self: flex-start;
    background-color: #2e2e2e;
    border: 1px solid #b388ff;
    text-align: left;
}

.chat-input-row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.chatbot-input {
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    max-height: 100px;
    border: none;
    resize: none;
    font-size: 1rem;
    background-color: #2a2a2a;
    color: #fff;
    overflow: auto;
    height: 60px;
}

.chatbot-button {
    background-color: #6a1b9a;
    color: white;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s;
}

.chatbot-button:hover {
    transform: scale(1.05);
    background-color: #8e24aa;
}

/* Animación de entrada */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(12px);
        }
    to {
        opacity: 1;
        transform: translateY(0);
        }
}
